# Legacy VITE_OPENAPI_BASE is still used as the Fractal Mainnet endpoint when set.
VITE_FRACTAL_OPENAPI_BASE=https://open-api-fractal.unisat.io/v1/indexer
VITE_BITCOIN_OPENAPI_BASE=https://open-api.unisat.io/v1/indexer
VITE_BITCOIN_TESTNET4_OPENAPI_BASE=https://open-api-testnet4.unisat.io/v1/indexer
VITE_BITCOIN_SIGNET_OPENAPI_BASE=https://open-api-signet.unisat.io/v1/indexer
VITE_FRACTAL_TESTNET_OPENAPI_BASE=https://open-api-fractal-testnet.unisat.io/v1/indexer
